body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    cursor:url('https://lh3.googleusercontent.com/5033XnhsfuSCAwwdf-Wgt4vRpH9KDQC7jARms2-1OOXYsA5Qt51oEvOD0BKLTKl5b9Ca0bD6D9j-Sp3Sp9Gqz7WWiw=w128-h128-e365-rj-sc0x00ffffff'), auto
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding-left: 10%;
    padding-right: 10%;
}

    .logo {
        font-size: 24px;
        color: #F9FAF8
    }

    .head-links ul {
        display: flex;
        list-style: none;
        color: #E5E7EB;
        gap: 30px;
        
    }

.signup-text {
    padding-top: 50px;
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
}

    .signupimage img {
        width: 375px;
        height: 210px;
        border: 5px solid black;
    }

    .signupbutton button {
        background-color: #3882F6;
        border:2px solid#3882F6;
        border-radius:8px;
        color: white;
        padding: 4px;
    }

.randinfo {
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

    .imagetext ul {
        display:flex;
        justify-content: space-between;
    }


    .box {
        width: 150px;
        height: 150px;
        border: 3px;
        border-color: blue;
        border-style: solid;
        border-radius: 25px;
        display: flex;

    }

    .box img {
        border-radius: 25px;
        width: 150px;
        height: 150px;
    }

    .boxinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boxinfo p {
        text-align: center;
    }

.quote {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 50px;
}

    .quotetext {
        font-size: 36px;
        font-style: italic;
    }
    
    .quoteauthor {
        text-align: end;
    }

.action {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: space-around;
}

    .action-box {
        background-color: #3882F6;
        border-color: #3882F6;
        border-style: solid;
        border-radius: 15px;
        margin-left: 50px;
        width: 250%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: white;
        padding-top: 25px;
        padding-bottom: 25px;

    } 

    .action-text h1{
        margin-bottom: 0px;
        font-size:24px;
    }

    .action-text p{
        margin-top: 3px;
    }

    .action-button button {
        background-color: #3882F6;
        border:2px solid#F9FAF8;
        border-radius:8px;
        color: white;
        padding: 4px;
        padding-left: 10px;
        padding-right: 10px;
    }


.footer {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #1F2937;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

